/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* }
body{
    background-color: black;
} */

.loader {
    width: 100px;
    height: 100px;
    border-width: 4px;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    border-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;

    animation: loading 2s linear infinite;

}

.loader::before {
    animation: loading-right 1s linear infinite;
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-style: solid dotted solid dotted;
    border-color: #e7195a;
    border-width: 4px;
    border-radius: 50%;
    margin: auto;
}


@keyframes loading {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes loading-right {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-360deg);
    }
}

.word {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 65%;
    z-index: 1;


}

.word span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 5px;
    color: white;
    mix-blend-mode: difference;
    text-transform: uppercase;

}

.word::before {
    content: "";
    width: 100px;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: -1;
    animation: move 3s linear infinite;

}

@keyframes move {

    0%,
    100% {
        left: 0,

    }

    50% {
        left: calc(100% - 100px);
    }
}